<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harshrimpardal.cseapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PasswordReset"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Events"
            android:label="@string/title_activity_events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewUploadsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Events_calendar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VTU_calendar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondSub"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThirdSub"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timetable"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Assignments"
            android:label="@string/title_activity_assignments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calendar_Main"
            android:label="@string/title_activity_calendar__main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>